@import 'reset.css';

$pink: pink;
$lightblue: #A2D5ED;
$buttonbc: $lightblue;

$backgc: $lightblue;

html {
  font-family: 'Cousine', 'monospace', sans-serif;
  background: $backgc;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

#wrapper  {
  padding: 50px ;
  max-width: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#floorplan {
  position: relative;
}

#floorplan img {
  width: 80vw;
  max-width: 90vmin;
  max-height: 90vmin;
}

.light {
  position: absolute;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	background-color: blue;
}

.pt {
  position: absolute;
}
